<h1>Titulo do curso: {{curso.nome}}</h1>

<div class="ver-curso">
<table>
    <tr>
        <td>{{curso.id}}</td>
        <td>{{curso.nome}}</td>
        <td>{{curso.duracao}}</td>
    </tr>
</table>
</div>

<div class="voltar">
    <a href="/curso/edit/{{curso.id}}" class="ver">Editar</a>
    <a href="/curso/ver" class="ver">Voltar</a>
</div>

<form action="/curso/remove/{{curso.id}}" method="POST">
<input type="submit" value="Apagar">
</form>